#container 
{
	height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#search{
	width: 60vw;
}
#button
{
	height: 7vh;
    width:  12vw;
    background-color: #0174DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#blanksearch /*use to up the block button and search*/
{
    height: 10vh;
    width: 100vw;
}

/*#chargement
{
	position:relative;
    top: 85%;
    left: 37%;
    right: 50%;
    bottom: 50%;
}*/

