#container 
{
	height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#image
{
    position: absolute;
    top: 7%;
    left: 27%;
    margin-right: -50%;
    transform: translate(-50%, -50%)


     z-index:5;
     background:url('juiiif.png');
    animation: bounce 0.35s ease infinite alternate;
}
@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-20px);}
}

h1
{
    text-align: center; 
    position: absolute;
    top: 70%;  
    left: 13%;
    color : #FFD700;

}