#container 
{
	height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#image
{
    position: absolute;
    top: 3%;
    left: 42%;
    margin-right: -50%;
    transform: translate(-50%, -50%)


     z-index:5;
     background:url('rainbowtry.png');
    animation: bounce 0.35s ease infinite alternate;
}
@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-20px);}
}

#search{
	width: 60vw;
}
#button
{
	height: 7vh;
    width:  12vw;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#blanksearch /*use to up the block button and search*/
{
    height: 10vh;
    width: 100vw;
}

/*#chargement
{
	position:relative;
    top: 85%;
    left: 37%;
    right: 50%;
    bottom: 50%;
}*/

