<div id="image">
</div>

<!-- <div class="container">
<h1>Rainbow Data</h1>
<hr>
</div> -->

<div class="text-center">
   <button class="btn btn-primary" (click)="logFbUser()" >Facebook Login</button>
</div>
<br><br>
<div *ngIf="infos">

   <h2 class="text-center">User informations</h2><br><br>
<div class="container">

   <table class="table">
      <thead>
         <tr>
            <th>Prenom / Nom</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Ville</th>
            <th>Etudes</th>
            <th>Emploi</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><span *ngIf="infos.name">{{infos.name}}</span></td>
            <td><span *ngIf="infos.birthday">{{infos.birthday}}</span></td>
            <td><span *ngIf="infos.email">{{infos.email}}</span></td>
            <td><span *ngIf="infos.location">{{infos.location.name}}</span></td>
            <td><span *ngIf="infos.education">{{infos.education[0].school.name}}</span></td>
            <td><span *ngIf="infos.work">{{infos.work[0].employer.name}}</span></td>
         </tr>
      </tbody>
   </table>


</div>
</div>
