<div id="image">
</div>

<div class="text-center">
   <button class="btn btn-primary" (click)="logFbUser()" >Facebook Login</button>
   <button class="btn btn-primary" (click)="logLiUser()" >LinkedIn Login</button>
</div>
<br><br>
<hr />
<facebook></facebook>
<hr />
<linkedin></linkedin>
<div class="checkbox">
  <label><input type="checkbox" value="">J'autorise RainbowData à stocker mes informations</label>
</div>
 <div class="text-center">
  <button type="button" class="btn btn-primary">Envoyer mes informations</button>
</div>
